.book-card {
    background-color: rgb(209, 219, 216);
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    white-space: pre;
    padding: 15px;
    min-width: 250px;
    max-width: 350px;
}

/* On mouse-over, add a deeper shadow */
.book-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    
}

#display {
    padding: 2px 16px;
}

.book-entry-form {
    display: none;
    background-color: rgb(209, 219, 216);
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 5px;
}

#new-book-form {
    padding: 2px 16px;
}